*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.header{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.timer{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 70px;
    font-size: 1rem;
    color: white;
}

#start{
    background-color: blue;
}

#stop{
    background-color: red;
}
#reset{
    background-color: green;
}