*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87a5f8;
}
.container{
    position: relative;
    max-width: 350px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

header{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-align: center;

}
textarea{
    width: 100%;
    height: 180px;
    border-radius: 8px;
    margin: 20px 0;
    padding: 10px 15px;
    resize: none;
    outline: none;
    border: 1px solid #aaa;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #6e93f7;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

button:hover{
    background: #4070f4;
}